{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Django + Hotwire • TodoMVC</title>
    <link rel="stylesheet" href="{% static 'todomvc-common/base.css' %}">
    <link rel="stylesheet" href="{% static 'todomvc-app-css/index.css' %}">

    <script src="{% static '@hotwired/turbo/dist/turbo.es2017-umd.js' %}"></script>
  </head>
  <body>
    <div class="turbo-progress-bar"></div>
    <section class="todoapp">
      {% block content %}{% endblock content %}
    </section>
    <footer class="info">
      <p>Double-click to edit a todo</p>
      <p>Created by <a href="http://github.com/luanfonceca">Luan Fonseca</a></p>
      <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
    </footer>

    <script src="{% static 'todomvc-common/base.js' %}" async defer></script>
    <script src="{% static 'todos/js/index.js' %}" async defer></script>
  </body>
</html>
